* {
  padding: 0;
  margin: 0;
}



ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #333;
  /* display: flex; */
  /* gap: 25px; */
}

.container li {
    float: left;
    color: white;
    padding: 14px 16px;
    cursor: pointer;
}

/* .container li a {
    padding: 14px 16px;

} */

.but1, .but2{
    background-color: aqua;
    height: 30px;
    padding: 0px 11px;
    text-align: center;
    cursor: pointer;
    /* text-align: center; */
    margin-top: 10px;
    margin-right: 20px;
}